.flexblox{
	display:flex;
	border: 2px solid blue;
	background-color: rosybrown;
	width: 25%;
}
#blanco{
	
	padding: 20px;
	margin:10px;
	background-color: white;
}
#rosado{
	padding: 20px;
	margin:10px;
	background-color: seagreen;
}
#celeste{
padding: 20px;
	margin:10px;
	background-color:lightskyblue;
	}